<footer class="site-footer">

    <div class="wrapper">

<!-- disqus -->

<!-- disqus -->


<!-- Google Analitics -->

<!-- Google Analinics  -->


    <h2 class="footer-heading">PL/SQL</h2>


    <div align="center">
        <strong>tags:</strong> Oracle Linux ||
        Oracle DataBase ||
        Oracle Weblogic ||
        SQL & PL/SQL ||
        Java ||
        Oracle ADF
    </div>


    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-3">
        <p class="text">Проект со всеми исходниками расположен и хостится на
            <a href="https://github.com/plsql/plsql.ru/">github</a>.
            Любой желающий может создать свою копию.
            Желающие добавлять свои знания или исправлять ошибки и неточности могут присылать pull request'ы.
            Подробнее в разделе "О сайте".
        </p>

        <iframe src="https://ghbtns.com/github-btn.html?user=plsql&repo=plsql.ru&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=plsql&repo=plsql.ru&type=fork&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>

      </div>
    </div>

  </div>

</footer>
