<footer class="site-footer">
    <div class="wrapper">
        <!-- disqus -->
        <!-- disqus -->

        <!-- Google Analitics -->
        <!-- Google Analinics -->

        <div align="center">
            {% if page.keywords %}
            <p>
                <strong>Tags:</strong> {{ page.keywords | strip_html |
                strip_newlines | truncate: 160 }} {% endif %}
            </p>
        </div>

        <h2 class="footer-heading">PL/SQL</h2>

        <div align="center">
            <strong>tags:</strong>
            <a href="https://oracle-dba.ru/database/" rel="nofollow"
                >Администрирование Oracle DataBase</a
            >
            || <a href="https://plsql.ru/" rel="nofollow">SQL & PL/SQL</a>
        </div>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-3">
                <p class="text">
                    Исходные коды проекта хранятся на
                    <a href="https://github.com/webmakaka/plsql.ru">github</a>.
                    Можете заводить Issue и Discussions, при необходимости.

                    <br />

                    Чтобы задать вопрос, добавить свои знания, исправить ошибки
                    и неточности, пишите в телеграм
                    <a href="/chat/" rel="nofollow">чате</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
