<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">
            <div class="trigger">
                <!-- <a class="page-link" href="{{ site.baseurl }}/job/">Предложить работу</a> -->
                <a
                    class="page-link"
                    href="{{
                        site.baseurl
                    }}/info/how-to-add-information-on-site/"
                    >Добавить свои знания</a>
                <a
                    class="page-link"
                    href="{{ site.baseurl }}/plsql-demo-scripts/"
                    >Коллекция примеров PL/SQL кода</a>
                <a class="page-link" href="{{ site.baseurl }}/about/"
                    >О админе / сайте</a>
                <a class="page-link" href="{{ site.baseurl }}/chat/">Телеграм группа (Чат)</a>
                <a class="page-link" href="{{ site.baseurl }}/sitemap/">Карта сайта</a>
            </div>
        </nav>
    </div>
</header>
